.flex-parent{
  display:flex;

  flex-direction: row;
  justify-content: center;
  border:5px solid #aaa;
  box-shadow: 3px 3px 3px #000;
}
table{
  border:3px solid #FF334F;
  width:100%;
  font-size: 30px;
}
table tr:nth-child(odd){
    background: #dad;
  }
  td{
    padding:1%
  }
.profile-child{
  background: #fff;
  width: 30%;
  padding: 2%;
  margin:1%;
  border:2px solid #aaa;
  box-shadow: 3px 3px 3px #000;


  }
  a{
    text-decoration: none;
  }
.content-child{
  background: #fff;
  width: 70%;
  padding: 2%;
  margin:1%;
  border:2px solid #aaa;
  box-shadow: 3px 3px 3px #000;
}
.content-childs{
  background: #fff;
  width: 90%;
  padding: 2%;
  margin:1%;
  border:2px solid #aaa;
  box-shadow: 3px 3px 3px #000;
}
h2{
  padding:1%;
  background-color: #fff;

}
h4{
  background-color: #fff;
  text-align: center;
}

.profile_img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height;auto;
  border:2px solid #000;
}
.profile_circle{
  border-radius: 50%;
  border: 2px solid #999;
}

body{
  background: #fff;
}
@media only screen and (min-width:320px) and (max-width:480px){
  .flex-parent{
    display:flex;
    flex-wrap: wrap;
    text-decoration-color: #bad;
    flex-direction: row;
    justify-content: center;

    border:5px solid #aaa;
    box-shadow: 3px 3px 3px #000;
  }

  .profile-child{
    background: #fff;
    width: 100%;
    padding: 2%;
    margin:1%;

    border:2px solid #aaa;
    box-shadow: 3px 3px 3px #000;
        }

  .content-child{
    background: #fff;
    width: 100%;
    padding: 2%;

    margin:1%;
    border:2px solid #aaa;
    box-shadow: 3px 3px 3px #000;
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
  .flex-parent{
    display:flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    border:5px solid #aaa;
    box-shadow: 3px 3px 3px #000;
  }

  .profile-child{
    background: #fff;
    width: 100%;
    padding: 2%;
    margin:1%;

    border:2px solid #aaa;
    box-shadow: 3px 3px 3px #000;
        }

  .content-child{
    background: #fff;
    width: 100%;
    padding: 2%;
    margin:1%;

    border:2px solid #aaa;
    box-shadow: 3px 3px 3px #000;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .flex-parent{
    display:flex;
    flex-wrap: wrap;
    text-decoration-color: #555;
    flex-direction: row;
    justify-content: center;

    border:5px solid #aaa;
    box-shadow: 3px 3px 3px #000;
  }

  .profile-child{
    background: #fff;
    width: 100%;
    padding: 2%;
    text-decoration-color: #fff;
    margin:1%;


    border:2px solid #aaa;
    box-shadow: 3px 3px 3px #000;
        }

  .content-child{
    background: #fff;
    width: 100%;
    padding: 2%;
    margin:1%;

    text-decoration-color: #fff;
    border:2px solid #aaa;
    box-shadow: 3px 3px 3px #000;
  }
}
